<form id="frm_user_login" class="border-1 border-zinc-100 w-full max-w-sm flex flex-col gap-6 mx-auto p-8 shadow-lg rounded-md">
  <div>
      <div class="text-green-500">{{ message }}</div>
      <h1 class="text-3xl font-bold pb-3">Log in</h1>
      <p class=" font-light text-gray-700">Log in below or create a new Wolt account.</p>
  </div>
  <div class="flex flex-col">
      <label for="user_email" class="text-sm text-gray-600 mb-1">
          Email
      </label>
      <input
          name="user_email"
          type="text"
          mix-check="{{ x.EMAIL_REGEX }}"/>
  </div>

  <div class="flex flex-col">
      <label for="user_password" class="flex items-center text-sm text-gray-600 mb-1">
          <span>Password</span>
          <span class="ml-auto text-gray-400 text-xs">{{ x.PASSWORD_MIN }} to {{ x.PASSWORD_MAX }} chars</span>
      </label>
      <input
          name="user_password"
          type="text"
          mix-check="{{ x.PASSWORD_REGEX }}"/>
  </div>

  <button
      mix-post="/login"
      mix-data="#frm_user_login"
      class="btn-primary rounded-md">
      Login
  </button>

  <a href="{{ url_for('view_forgot_password') }}" class="text-center font-light text-blue-600 border-b-1 border-transparent w-fit mx-auto hover:border-blue-600 transition-colors transform">
      Forgot password?
  </a>
</form>

