<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link href="/static/output.css" rel="stylesheet">
    <script src="/static/ui.js" type="module"></script>
    <title>
        {{ title or "Company" }}
    </title>
</head>
<body class="w-full h-screen text-gray-950">
    <div id="toast" class="flex flex-col justify-center fixed w-full top-4 z-10"></div>
