<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <script src="{{ url_for('static', filename='ui.js')}}" type="module"></script>
        <title>{{ title or "Company" }}</title>
    </head>

    <body class="w-full text-gray-950">
        <div id="toast" class="flex flex-col justify-center fixed w-full top-4 z-10"></div>
        <header>
            {% if 'restaurant' in user.roles %}
                {% include "__header_restaurant.html"%}
            {% elif 'customer' in role or ('customer' in user.roles and user.roles | length == 1) %}
                {% include "__header_customer.html"%}
            {% elif 'partner' in role or ('partner' in user.roles and user.roles | length == 1) %}
                {% include "__header_partner.html"%}
            {% elif 'admin' in user.roles %}
                {% include "__header_admin.html"%}
            {% endif %}
        </header>

        
        