{% include "_top.html" %}

<main class="w-full h-full px-20">
    <div>
        <h1 class="text-4xl font-bold pb-3">Reset password</h1>
        <p class="text-xl font-light text-gray-700">Type in your email and we will send a reset link to your inbox.</p>
    </div>
    <form id="frm_forgot_password" class="flex flex-col gap-4 mx-auto py-36 w-2/6">
        <div class="flex flex-col">
            <label for="user_email" class="text-sm text-gray-600 mb-1">
                <span>Email</span>
            </label>
            <input 
                name="user_email" 
                type="text" 
                mix-check="{{ x.EMAIL_REGEX }}" />
        </div>
        <button class="btn-primary rounded-md" mix-post="/forgot-password" mix-data="#frm_forgot_password">Send</button>
    </form>
</main>

{% include "_bottom.html" %}
