{% include "_top_logged.html" %}

<main class="w-full flex gap-5 px-20">
    <div id="map" class="w-full h-full rounded-xl"></div>

    <div class="w-full h-full">
        <h1 class="text-5xl font-bold">Welcome back {{ user.account_name }}!</h1>
        <div class="pt-10 px-4">
            <h2 class="text-2xl font-semibold mb-6">All restaurants</h2>
            {% if address %}
                <div class="h-[35rem] overflow-y-auto">
                    <ul class="space-y-4 p-3">
                        {% for addr in address %}
                        <a href="/customer/restaurant/{{ addr['restaurant_pk'] }}" class="w-full block group relative">
                            <div class="shadow-md rounded-lg h-36 border-1 border-zinc-100 w-full overflow-hidden relative">
                                <!-- Overlay -->
                                <div class="absolute inset-0 bg-blue-200 bg-opacity-20 transition-opacity opacity-0 group-hover:opacity-80"></div>
                                
                                <article class="flex p-3 w-full h-full gap-5 relative">
                                    <div class="w-1/3 h-full overflow-hidden flex justify-center items-center rounded-lg relative">
                                        <img src="{{ url_for('static', filename='restaurant_images/' + addr['restaurant_image_name']) }}" 
                                                alt="{{ addr.restaurant_name }}"
                                                class="h-full w-full object-cover" />
                                    </div>
                                    <div>
                                        <p class="text-xl font-semibold pb-2">{{ addr['restaurant_name'] }}</p>
                                        <p class="text-gray-500 text-sm font-light">{{ addr['restaurant_street'] }}, {{ addr['restaurant_postalcode'] }} {{ addr['restaurant_city'] }}</p>
                                    </div>
                                </article>
                            </div>
                        </a>
                        
                        
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p class="text-gray-500">No addresses available.</p>
            {% endif %}
        </div>
    </div>
</main>

</div>

{% extends "_bottom.html" %}
{% block custom_scripts %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <script src="{{url_for('static', filename='mixhtml.js')}}"></script>
    <script src="{{url_for('static', filename='map.js')}}"></script>
{% endblock %}