{% include "_top_logged.html" %}

<main class="w-full">
    <h1>All Users</h1>
    <table class="mx-auto">
        <tr>
            <th class="w-40">Name</th>
            <th class="w-70">Email</th>
            <th class="w-30">Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.user_name }}</td>
            <td>{{ user.user_email }}</td>
            <td>
                {% if not user.user_blocked_at %}
                <form id="block-user-{{ user.user_pk }}">
                    <button mix-put="/users/block/{{ user.user_pk }}" mix-data="#block-user-{{ user.user_pk }}">
                        Block
                    </button>
                </form>
                {% else %}
                <form id="unblock-user-{{ user.user_pk }}">
                    <button mix-put="/users/unblock/{{ user.user_pk }}" mix-data="#unblock-user-{{ user.user_pk }}">
                        Unblock
                    </button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</main>

{% include "_bottom.html" %}
