{% include "_top.html" %}

<main class="w-full h-100vh d-flex p-items-center">


    <form id="frm_forgot_password" class="w-25% d-flex flex-col gap-4 mx-auto">

        <div class="d-flex flex-col">
            <label for="user_email">
                <span>email</span>
            </label>
            <input name="user_email" type="text" mix-check="{{ x.EMAIL_REGEX }}">
        </div>



        <button mix-post="/forgot-password" mix-data="#frm_forgot_password">
            Reset password
        </button>

        <a href="{{url_for('view_signup')}}" class="text-a-center">Signup</a>


    </form>

</main>

{% include "_bottom.html" %}