{% include "_top_logged.html" %}

<main class="w-full pt-10">
    <h1 class="text-4xl font-semibold mb-4">All Accounts</h1> 
    <h2 class="text-xl font-semibold mb-3">Customers & Partners</h2>
    <table class="w-full table-auto border-collapse mb-6">
        <thead>
            <tr class="text-left border-b">
                <th class="py-2 px-4">Name</th>
                <th class="py-2 px-4">Email</th>
                <th class="py-2 px-4">Block user</th>
                <th class="py-2 px-4">Delete user</th>
            </tr>
        </thead>
        <tbody>
{% for account in accounts %} 
    {% if account.account_roles in ['customer', 'partner'] %}
        <tr class="border-b">
            <td class="py-2 px-4">{{ account.account_name }}</td>
            <td class="py-2 px-4">{{ account.account_email }}</td>
            <td id="block-unblock-user-btn-{{ account.account_pk }}" class="py-2 px-4">
                {% if not account.account_blocked_at %}
                <form id="block-user-{{ account.account_pk }}">
                    <button
                        class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-600 transition"
                        mix-put="/block/user/{{ account.account_pk }}"
                        mix-data="#block-user-{{ account.account_pk }}"
                        mix-target="#block-user-{{ account.account_pk }}">
                        Block
                    </button>
                </form>
                {% else %}
                <form id="unblock-user-{{ account.account_pk }}">
                    <button
                        class="bg-green-500 text-white py-1 px-3 rounded hover:bg-green-600 transition"
                        mix-put="/unblock/user/{{ account.account_pk }}"
                        mix-data="#unblock-user-{{ account.account_pk }}"
                        mix-target="#unblock-user-{{ account.account_pk }}">
                        Unblock
                    </button>
                </form>
                {% endif %}
            </td>
            <td class="py-2 px-4" id="delete-user-btn-{{ account.account_pk }}">
                {% if account.account_deleted_at == 0 %}
                <button
                    class=""
                    title="Delete User"
                    mix-delete="/admin/users/delete/{{account['account_pk']}}"
                    mix-target="#delete-user-btn-{{ account.account_pk }}">
                    🗑️
                </button>
                {% else %}
                <div class="flex items-center">{{ account.account_deleted_at }}</div>
                {% endif %}
            </td>
        </tr>
        {% endif %} 
    {% endfor %}
    </tbody>
    </table>

    <!-- Table for Restaurants -->
    <h2 class="text-xl font-semibold mb-3">Restaurants</h2>
    <table class="w-full table-auto border-collapse">
        <thead>
            <tr class="text-left border-b">
                <th class="py-2 px-4">Name</th>
                <th class="py-2 px-4">Email</th>
                <th class="py-2 px-4">Block user</th>
                <th class="py-2 px-4">Delete user</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %} {% if account.account_roles == 'restaurant' %}
        <tr class="border-b">
            <td class="py-2 px-4">{{ account.account_name }}</td>
            <td class="py-2 px-4">{{ account.account_email }}</td>
            <td id="block-unblock-restaurant-btn-{{ account.account_pk }}" class="py-2 px-4">
                {% if not account.account_blocked_at %}
                <form id="block-restaurant-{{ account.account_pk }}">
                    <button
                        class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-600 transition"
                        mix-put="/block/restaurant/{{ account.account_pk }}"
                        mix-data="#block-restaurant-{{ account.account_pk }}"
                        mix-target="#block-restaurant-{{ account.account_pk }}">
                        Block
                    </button>
                </form>
                {% else %}
                <form id="unblock-restaurant-{{ account.account_pk }}">
                    <button
                        class="bg-green-500 text-white py-1 px-3 rounded hover:bg-green-600 transition"
                        mix-put="/unblock/restaurant/{{ account.account_pk }}"
                        mix-data="#unblock-restaurant-{{ account.account_pk }}"
                        mix-target="#unblock-restaurant-{{ account.account_pk }}">
                        Unblock
                    </button>
                </form>
                {% endif %}
            </td>
            <td id="delete-user-btn-{{ account.account_pk }}">
                {% if account.account_deleted_at == 0 %}
                <button
                    class=""
                    title="Delete User"
                    mix-delete="/admin/users/delete/{{account['account_pk']}}"
                    mix-target="#delete-user-btn-{{ account.account_pk }}">
                    🗑️
                </button>
                {% else %}
                <div class="flex items-center">{{ account.account_deleted_at }}</div>
                {% endif %}
            </td>
        </tr>
        {% endif %} {% endfor %}
    </tbody>
    </table>
</main>

{% include "_bottom.html" %}
