{% include "_top.html" %}

<main class="w-full h-full flex px-20">
    <div id="map" class="w-full h-screen rounded-xl"></div>
    <div class="w-full h-full">
        
    </div>
</main>

{% extends "_bottom.html" %}
{% block custom_scripts %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <script src="{{url_for('static', filename='mixhtml.js')}}"></script>
    <script src="{{url_for('static', filename='map.js')}}"></script>
{% endblock %}
