{% include "_top_logged.html" %}

<main class="w-full flex flex-col items-center px-4">
    <form action="PUT" id="edit-item-frm" class="pt-6 w-full max-w-md flex flex-col gap-6 mx-auto shadow-lg p-10 rounded-md mt-20">
        <h1 class="text-2xl font-bold">Edit Item</h1>
        <div class="flex flex-col">
            <label for="item_title" class="text-sm  text-gray-500 mb-1">
                Title:
            </label>
            <input
                type="text"
                name="item_title"
                value="{{ item.item_title }}"
                mix-check="{{ x.NAME_REGEX }}"/>
        </div>

        <div class="flex flex-col">
          <label for="item_description">
              <span>Description</span>
          </label>
          <textarea
              name="item_description"
              rows="4"
              cols="50"
              mix-check="{{ x.DESCRIPTION_REGEX }}">{{ item.item_description }}</textarea>
        </div>

        <div class="flex flex-col">
          <label for="item_price">
              <span>Price</span>
          </label>
          <input type="number" name="item_price" value="{{ item.item_price }}" mix-check="{{ x.PRICE_REGEX }}" />
        </div>

        <div class="flex flex-col">
          <label for="item_image_name">
              <span>Image</span>
          </label>
          <input
              type="file"
              name="item_image_name"
              id="item_image_name"
              accept=".png, .jpg, .jpeg, .gif"
              multiple />
        </div>
        
        <div class="flex flex-wrap gap-3">
          {% for image in item.images %}
          <div class="w-36 h-16 overflow-hidden flex justify-center items-center rounded-md relative">
            <img src="{{ url_for('static', filename='item_images/' + image.item_image_name) }}" alt="Item Image" class="h-full w-full object-cover" id="{{ image.item_image_pk }}"/>
            <button mix-delete="/restaurant/delete/item-image/{{ item.item_pk }}/{{ image.item_image_pk }}"
                    class="absolute leading-none top-2 right-2 pt-0.5 pb-1.5 px-2 rounded-full  text-xl bg-gray-400 bg-opacity-40 text-white hover:bg-gray-600 hover:bg-opacity-70 transition-colors duration-200 ease-in-out">
                    &#215; 
            </button>
          </div>
          {% endfor %}
        </div>

        <div class="flex flex-col gap-2">
          <button
              type="submit"
              mix-put="/restaurant/item/{{ item.item_pk }}"
              mix-data="#edit-item-frm"
              class="bg-blue-500 text-white font-medium py-2 px-4 rounded-md hover:bg-blue-600 transition duration-200">
              Save
          </button>
          <button class="open-delete-modal-btn bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600 transition-colors duration-200 ease-in-out">
            Delete
        </button>
        </div>
    </form>
  <div class="delete-modal fixed inset-0 bg-black bg-opacity-50 justify-center items-center hidden">
      <div class="bg-white p-8 rounded-lg shadow-lg w-96">
          <form>
              <p class="text-2xl font-semibold mb-4">Are you sure you want to delete this item?</p>
              <p class="text-sm mb-8">This action cannot be reversed</p>
              <div class="flex gap-3">
                  <button class=" bg-red-500 w-1/2 text-white py-2 px-4 rounded-lg hover:bg-red-600 transition-colors duration-200 ease-in-out" 
                          mix-delete="/restaurant/delete/item/{{ item.item_pk }}">
                      Delete
                  </button>
                  <button class="cancel-delete-btn bg-gray-200 w-1/2 text-gray-800 py-2 px-4 rounded-lg hover:bg-gray-300 transition-colors duration-200 ease-in-out">
                      Cancel
                  </button>            
              </div>
          </form>
      </div>
  </div>
</main>

{% include "_bottom.html" %}
