{% include "_top_logged.html" %}

<main class="w-full">
    <h1>Create item</h1>

    <form nctype="multipart/form-data" id="frm_create_item" class="w-25% d-flex flex-col gap-4 mx-auto p-self-center">
        <div class="d-flex flex-col">
            <label for="item_title">
                <span>Title</span>
            </label>
            <input id="item_title" name="item_title" type="text" mix-check="{{ x.NAME_REGEX }}" />
        </div>

        <div class="d-flex flex-col">
            <label for="item_description">
                <span>Description</span>
            </label>
            <textarea
                class="outline-1 rounded-sm pa-3"
                id="item_description"
                name="item_description"
                rows="4"
                cols="50"
                mix-check="{{ x.DESCRIPTION_REGEX }}"></textarea>
        </div>

        <div class="d-flex flex-col">
            <label for="item_price">
                <span>Price</span>
            </label>
            <input type="number" name="item_price" id="item_price" mix-check="{{ x.PRICE_REGEX }}" />
        </div>

        <div class="d-flex flex-col">
            <label for="item_image_name">
                <span>Image</span>
            </label>
            <input
                type="file"
                name="item_image_name"
                id="item_image_name"
                accept=".png, .jpg, .jpeg, .gif"
                mix-check="{{ x.ALLOWED_FILE_REGEX }}"
                multiple />
            <pre id="fileList"></pre>
        </div>

        <button type="submit" class="cursor-pointer" mix-post="/items" mix-data="#frm_create_item">Create item</button>
    </form>
</main>

<script src="{{ url_for('static', filename='file_list.js') }}" type="module"></script>

{% include "_bottom.html" %}
